{% extends "admin/base.html.twig" %}

{% block content %}
{{ form_start(form, {'attr':{'class': 'form', 'novalidate':''}}) }}
    <label for="image" class="form-title">EYE CATCH IMAGE
        <!-- {{ form_errors(form.image) }} -->
        <div class="form-file u-clear">
            <span class="form-file-button">UPLOAD</span>
            <span style="margin-left:15px;color:black" id="banner">
            {% if post.banner is not null %}
                {{ post.banner(true) }}
            {% endif %}
            </span>
        </div>
    </label>
    {{ form_widget(form.image, {'id': 'image', 'attr': {'class': 'input input-image'}}) }}
    <label for="title" class="form-title">TITLE</label>
    <div class="form-body">
        <!-- {{ form_errors(form.title) }} -->
        {{ form_widget(form.title, {'id': 'title', 'attr': {'class': 'input input-text'}}) }}
    </div>
    <label for="contents" class="form-title">CONTENTS</label>
    <div class="form-textarea">
        <!-- {{ form_errors(form.content) }} -->
        {{ form_widget(form.content, {'id': 'inquiry', 'attr': {'cols': 30, 'rows': 10, 'class': 'input input-contents'}}) }}
    </div>
    {% if not isValid %}
        <p>Error</p>
    {% endif %}
    <label for="submit" class="form-button">
        <div class="button">
            <p class="button-text">Submit</p>
        </div>
    </label>
    <input type="submit" id="submit" class="input input-submit">
    <a href="{{ path('admin_list') }}" class="form-button">
        <div class="button">
            <p class="button-text">Back</p>
        </div>
    </a>
{{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        jQuery(function ($) {
            $('#image').change(function () {
                $("#banner").html($(this).val());
            });
        });
    </script>
{% endblock %}
